@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#engagementSection {
  scroll-margin-top: 24rem;
}

#commentFormSection {
  scroll-margin-top: 16rem;
}

ul::-webkit-scrollbar {
  display: none;
}

ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* DJANGO MESSAGES STYLING */
.success {
  background: green;
}

.error {
  background: red;
}

.info {
  background: blue;
}

.warning {
  background: orange;
}
