{% extends "base.html" %}
<hr />
{% block title_content %}About Us - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}
<section>
  <div class="max-w-7xl mx-auto">
    <h3>Career</h3>
    <ul class="grid grid-cols-3">
      <li>
        <h4>Tourus</h4>
        <h5>CTO & Co-Founder</h5>
        <p>Jul 2021 - Now</p>
      </li>

      <li>
        <h4>Webflow</h4>
        <h5>Engineering Manager</h5>
        <p>Oct 2020 - Jul 2021</p>
      </li>

      <li>
        <h4>OkCupid</h4>
        <h5>Frontend Engineer</h5>
        <p>Jan 2014 - Nov 2015</p>
      </li>

      <li>
        <h4>Webs</h4>
        <h5>Frontend Engineer Intern</h5>
        <p>Jan 2013 - Jan 2014</p>
      </li>
      <li>
        <h4>Kinnek</h4>
        <h5>Senior Frontend Engineer</h5>
        <p>Nov 2015 - May 2017</p>
      </li>
    </ul>
  </div>
</section>
{% endblock body_content %}
