{% extends "base.html" %}
<hr />
{% block title_content %}About Us - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}

<section
  class="bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <h1 class="text-7xl mb-4 font-bold text-center mb-8">Dig Deeper.</h1>
  </div>
</section>

<section class="mt-24">
  <div
    class="max-w-[1280px] mx-auto items-center justify-center p-4 grid grid-cols-2 gap-18"
  >
    <div>
      <img
        src="https://images.pexels.com/photos/1157803/pexels-photo-1157803.jpeg"
        alt="Random ghurl pic"
      />
    </div>
    <div>
      <h2 class="text-6xl mb-4 font-medium">Random Facts.</h2>

      <p class="text-xl/8 text-[#dedede] mb-8">
        "The Bad Guys" is my all-time favorite movie. Arsenal fan, I'm an Andrew
        Tate, Alex Harmozi and Dan Koe fan. I have never travelled outisde my
        country. Hunger is my kryptonite, Freezing temperatures are my
        arch-nemesis, black and white are my favorite colors. I enjoy all music
        genres, but very choosy.
      </p>
    </div>
    <div class="max-w-6xl mx-auto col-span-2 text-3xl">
      <h3 class="text-left text-base font-bold uppercase text-amber-700 mb-4">
        me in a nut-shell
      </h3>

      <p class="text-5xl/14 font-medium mb-18 text-left">
        I’m 5'6", first born to 4 siblings, hardwork believer, lover, no pet
        person, early riser, soft drinker, and fullstack developer.
      </p>
    </div>
  </div>

  <div class="max-w-[1280px] mx-auto grid grid-cols-[1fr_3fr] gap-8">
    <h2 class="text-5xl text-[#fefefe] font-medium mb-6">Back Story.</h2>
    <div class="text-xl/8 text-[#dedede] space-y-6">
      <p>
        The first time I saw laptop in real life was in back in 2013 when I was
        well. This was from my cousin who was in campus by then. Well this is
        what's it means to be born in Africa. Other than this, I was fortune
        enough to see it in movies. Ever since I always wanted to own a laptop
        and just use it. I didn't by then any carrer I was to do . All I wanted
        was just to grow up namand have a job that requires me to use) own a
        laptop.
      </p>
      <p>
        First forward, making my application to college I knew what it means to
        own a laptop and what should be done with it. I chose IT profession
        mainly it wasvbecaise it was an inspiration from my brother, else if my
        English was good, I could actually be doing some video production staff.
        To be honest I still feel like just doin it for fun. Yes I'm still
        limited but won't be for long after I officially start vlogging my
        life's journey.
      </p>
      <p>
        In campus, my main laptop thing was downloading and watching movies, and
        not anything else, this was after I made fully committing to studies in
        my year exams and never felt like the energy was in vein first exams
        and. It was only until me going for internship that I realized I was
        growing old from campus, almost graduating but no still to attest myslf
        with. This was back in 2022 when I officially began to learn to code of
        course with challenges, progress and growth.
      </p>
      <p>
        3 years later , I got have a full-time job in tech as a software
        developer in a startup, one that requires me to use a laptop like all
        the time. Building a personal brand to help developers learn quick than
        I did or land a job faster. With plans to build 2 online products to
        stream in generation wealth.
      </p>
      <p>
        My dreams you ask, want to 10x my current pay working remotely, build 2
        online products that help make people's lives better, and have fun while
        doing it, achieve financial freedom . I. Not doing this for me, in doing
        it for me, my kids, my mom, my dad and siblings and just everyone I care
        about. I want to make it so big that nobody I care about ever thinks of
        work again to survive but to multiple what's there already. Funky thing
        I crazy to think it's possible and what's even crazier I don't anyone
        can change my mind on that dream.
      </p>
    </div>

    <ul
      class="max-w-[1280px] overflow-x-scroll col-span-2 whitespace-nowrap place-self-center my-18 space-x-12 align-middle cursor-grab"
    >
      <li class="w-md inline-block align-middle">
        <div class="max-h-136 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1741627872533-52df24885303"
            alt="Dream things"
          />
        </div>
        <p class="text-center mt-4 text-lg text-[#dedede]">Dream Car</p>
      </li>
      <li class="w-md inline-block align-middle">
        <div class="max-h-136 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1741722604183-7d94a0403152"
            alt="Dream things"
          />
        </div>
        <p class="text-center mt-4 text-lg text-[#dedede]">Dream House</p>
      </li>
      <li class="w-md inline-block align-middle">
        <div class="max-h-136 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1741627872533-52df24885303"
            alt="Dream things"
          />
        </div>
        <p class="text-center mt-4 text-lg text-[#dedede]">Dream Setup</p>
      </li>
      <li class="w-md inline-block align-middle">
        <div class="max-h-136 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1741722604183-7d94a0403152"
            alt="Dream things"
          />
        </div>
        <p class="text-center mt-4 text-lg text-[#dedede]">Dream Thing</p>
      </li>
    </ul>

    <div class="max-w-6xl mx-auto col-span-2 text-3xl">
      <h3 class="text-left text-base font-bold uppercase text-amber-700 mb-4">
        my life goal
      </h3>
      <p class="text-5xl/14 font-medium mb-18 text-left">
        Retire my parents, 10x my current income, build 2 successful online
        businesses, beat my bro(cousin) in building generational wealth.
      </p>
    </div>
  </div>
</section>

<section class="mb-24">
  <div class="max-w-6xl mx-auto text-lg/9">
    <h3 class="text-2xl font-semibold mb-4">Career</h3>
    <ul class="grid grid-cols-3 gap-8">
      <li class="col-span-3">
        <h4 class="font-medium mb-2">Afrisol Technologies</h4>
        <h5>Fullstack developer</h5>
        <p>Sept 2024 - Now</p>
      </li>

      <li>
        <h4 class="font-medium mb-2">Jan Briddhi Foundation</h4>
        <h5>Fullstack developer</h5>
        <p>Oct 2023 - Sept 2024</p>
      </li>

      <li>
        <h4 class="font-medium mb-2">Bambanet Ltd</h4>
        <h5>Software developer Intern</h5>
        <p>Apr 2022 - Aug 2022</p>
      </li>
    </ul>
  </div>
</section>
{% endblock body_content %}
