<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title_content %}{% endblock title_content %}</title>
  </head>
  <body>
    <header class="bg-red-100">
      <nav
        class="max-w-[1320px] p-4 px-2 mx-auto flex items-center justify-between text-xl"
      >
        <div><a href="{% url 'home'%}">Logo</a></div>
        <ul class="flex items-center justify-between gap-8">
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'services'%}">Services</a></li>
          <li><a href="{% url 'blogs'%}">Blogs</a></li>
          <li><a href="{% url 'about'%}">About</a></li>
          <li><a href="{% url 'jobs'%}">Jobs</a></li>
          <li><a href="{% url 'contact'%}">Connect</a></li>
        </ul>
      </nav>
    </header>
    {% block body_content %} {%endblock body_content %}
  </body>
</html>
