{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title_content %}{% endblock title_content %}</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static
    '/favicon/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static '/favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static
    '/favicon/favicon-16x16.png' %}"
    />
    <link
      rel="manifest"
      href="{% static
    '/favicon/site.webmanifest' %}"
    />

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static '/favicon/favicon.ico' %}"
    />

    <style>
      .scrollbar-hide::-webkit-scrollbar {
        display: nne;
      }

      ::-webkit-scrollbar {
        width: 6px;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    </style>
  </head>
  <body class="bg-black text-white">
    <header class="bg-black text-white">
      <nav
        class="max-w-[1320px] p-4 px-2 mx-auto flex items-center justify-between text-xl"
      >
        <div>
          <a class="max-w-16 block" href="{% url 'home'%}">
            <img src="{% static '/logo_.png' %}" alt="" />
          </a>
        </div>
        <ul class="flex items-center justify-between gap-8">
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'services'%}">Services</a></li>
          <li><a href="{% url 'blogs'%}">Blogs</a></li>
          <li><a href="{% url 'about'%}">About</a></li>
          <li><a href="{% url 'jobs'%}">Jobs</a></li>
          <li><a href="{% url 'contact'%}">Connect</a></li>
        </ul>
      </nav>
    </header>
    {% block body_content %} {%endblock body_content %}

    <footer class="bg-[#111] text-white">
      <div class="border-y-1 border-red-100">
        <ul
          class="max-w-6xl mx-auto py-24 grid grid-cols-3 gap-8 items-center justify-center"
        >
          <li class="flex items-start justify-center flex-col">
            <div class="max-w-base text-center">
              <p class="mb-2">
                <a
                  class="underline underline-offset-6"
                  href="mailto:jarviswuod@gmail.com"
                  >jarviswuod@gmail.com</a
                >
              </p>
              <p>
                <a class="underline underline-offset-6" href="tel:+254757464904"
                  >+254 757 464 904</a
                >
              </p>
            </div>
          </li>

          <li class="justify-self-center">
            <a class="w-16 block" href="{% url 'home'%}">
              <img src="{% static '/logo_.png' %}" alt="" />
            </a>
          </li>

          <li>
            <ul class="flex items-center justify-center space-x-4">
              <li><a href="#">X</a></li>
              <li><a href="#">YT</a></li>
              <li><a href="#">Li</a></li>
              <li><a href="#">IG</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="py-8 text-sm">
        <p class="text-center mb-4">
          &copy; 2025 Jarvis Wuod. All rights reserved.
          <a class="underline underline-offset-6" href="http://social"
            >Terms of Service</a
          >
        </p>
        <ul class="flex items-center justify-center space-x-4">
          <li>
            <a class="underline underline-offset-6" href="http://social"
              >Return Policy</a
            >
          </li>
          <li>
            <a class="underline underline-offset-6" href="http://social"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
