{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title_content %}{% endblock title_content %}</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static
    '/favicon/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static '/favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static
    '/favicon/favicon-16x16.png' %}"
    />
    <link
      rel="manifest"
      href="{% static
    '/favicon/site.webmanifest' %}"
    />

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static '/favicon/favicon.ico' %}"
    />

    <style>
      .scrollbar-hide::-webkit-scrollbar {
        display: nne;
      }

      ::-webkit-scrollbar {
        width: 6px;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      ul::-webkit-scrollbar {
        display: none;
      }

      ul {
        -ms-overflow-style: none; /* IE/Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </head>
  <body class="bg-black text-white">
    <header class="bg-black text-white">
      <nav
        class="max-w-[1320px] p-4 px-2 mx-auto flex items-center justify-between text-base tracking-wide font-bold uppercase"
      >
        <div>
          <a class="max-w-16 block" href="{% url 'home'%}">
            <img src="{% static '/logo_.png' %}" alt="" />
          </a>
        </div>
        <ul class="flex items-center justify-between gap-12">
          <li>
            <a href="{% url 'services'%}">Services</a>
            <i class="ph ph-caret-down"></i>
            {% comment %}

            <i class="ph ph-caret-up"></i>

            <p>web dev</p>
            <p>Mentorship</p>
            <p>Resume</p>

            {% endcomment %}
          </li>
          <li><a href="{% url 'blogs'%}">Blogs</a></li>
          <li><a href="{% url 'about'%}">About</a></li>
          <li><a href="{% url 'jobs'%}">Jobs</a></li>
          <li>
            <a
              class="text-black bg-amber-700 hover:bg-amber-200 duration-300 transform-all p-4 px-6"
              href="{% url 'contact'%}"
            >
              Connect
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {% block body_content %} {%endblock body_content %}

    <footer class="bg-[#111] text-white">
      <div class="border-y-1 border-[#444]">
        <ul
          class="max-w-6xl mx-auto py-24 grid grid-cols-3 gap-8 items-center justify-center"
        >
          <li class="text-center text-base text-amber-700">
            <p class="mb-2">
              <a
                class="underline underline-offset-6"
                href="mailto:jarviswuod@gmail.com"
              >
                jarviswuod@gmail.com
              </a>
            </p>
            <p>
              <a class="underline underline-offset-6" href="tel:+254757464904">
                +254 757 464 904
              </a>
            </p>
          </li>

          <li class="justify-self-center">
            <a class="w-24 block" href="{% url 'home'%}">
              <img src="{% static '/logo_.png' %}" alt="" />
            </a>
          </li>

          <li>
            <ul
              class="flex items-center justify-center gap-8 text-center text-2xl text-amber-700"
            >
              <li>
                <a href="#"><i class="ph ph-x-logo"></i></a>
              </li>
              <li>
                <a href="#"><i class="ph ph-youtube-logo"></i></a>
              </li>
              <li>
                <a href="#"><i class="ph ph-linkedin-logo"></i></a>
              </li>
              <li>
                <a href="#"><i class="ph ph-instagram-logo"></i></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="py-8 text-sm">
        <p class="text-center mb-4">
          &copy; 2025 Jarvis Wuod. All rights reserved.
          <a
            class="underline underline-offset-6 text-amber-700"
            href="http://social"
            >Terms of Service</a
          >
        </p>
        <ul class="flex items-center justify-center space-x-4">
          <li>
            <a
              class="underline underline-offset-6 text-amber-700"
              href="http://social"
              >Return Policy</a
            >
          </li>
          <li>
            <a
              class="underline underline-offset-6 text-amber-700"
              href="http://social"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
