{% extends "base.html" %}
<hr />
{% block title_content %}Blogs - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}
<section
  class="bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <h1 class="text-9xl font-semibold text-center">My Insights.</h1>
  </div>
</section>

<section class="my-12">
  <div class="max-w-[1280px] mx-auto">
    <ul class="mb-8 grid grid-cols-2 gap-12 gap-y-16">
      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-2xl mb-4 font-medium">
          Video Content is Worth Investing
        </h3>
        <p class="text-base/7 mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>
        <a href="#" class="text-base uppercase text-amber-700">Read More</a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-2xl mb-4 font-medium">
          Video Content is Worth Investing
        </h3>
        <p class="text-base/7 mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>
        <a href="#" class="text-base uppercase text-amber-700">Read More</a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-2xl mb-4 font-medium">
          Video Content is Worth Investing
        </h3>
        <p class="text-base/7 mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>
        <a href="#" class="text-base uppercase text-amber-700">Read More</a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-2xl mb-4 font-medium">
          Video Content is Worth Investing
        </h3>
        <p class="text-base/7 mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>
        <a href="#" class="text-base uppercase text-amber-700">Read More</a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-2xl mb-4 font-medium">
          Video Content is Worth Investing
        </h3>
        <p class="text-base/7 mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>
        <a href="#" class="text-base uppercase text-amber-700">Read More</a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-2xl mb-4 font-medium">
          Video Content is Worth Investing
        </h3>
        <p class="text-base/7 mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>
        <a href="#" class="text-base uppercase text-amber-700">Read More</a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-2xl mb-4 font-medium">
          Video Content is Worth Investing
        </h3>
        <p class="text-base/7 mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>
        <a href="#" class="text-base uppercase text-amber-700">Read More</a>
      </li>
    </ul>
    <ul class="flex items-center justify-between gap-2 my-8">
      <li>&lt; Newer Posts</li>
      <li>Older Posts &gt;</li>
    </ul>

    <form
      action=""
      method="post"
      class="flex justify-center items-center flex-col"
    >
      <h3 class="text-3xl mb-4">Subscribe to jarviswuod.com</h3>
      <p class="text-base mb-4">
        Only sending out 6 messages a year. No bullshit, just some thoughtful
        content.
      </p>
      <div class="flex-items-center justify-center gap-2">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email Address"
          class="bg-white text-black text-base w-[24rem] p-4 py-4 border-1"
        />
        <button
          class="uppercase text-amber-700 border-1 border-amber-700 px-8 py-4"
          type="submit"
        >
          sign up
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock body_content %}
