{% extends "base.html" %}
<hr />
{% block title_content %}Blog - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}
<section class="bg-black text-white">
  <div
    class="min-h-[32rem] flex items-start justify-center flex-col max-w-[1280px] mx-auto"
  >
    <p class="text-base uppercase mb-4">Written By Jarvis Wuod</p>
    <h1 class="text-7xl font-semibold">
      Website Photography is More Important
    </h1>
  </div>
</section>

<section class="my-12">
  <div class="max-w-[1280px] mx-auto">
    <div class="">
      <img
        class="mb-6"
        src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
        alt="Video Content is Worth Investing"
      />
    </div>

    <h3>This is something that I stumbled upon early on</h3>

    <p>
      Photography also really helps to create brand consistency throughout every
      aspect of your site. This can be from your standard pages (home, services,
      about, contact) to blog posts and other secondary areas on your website.
      This can also help dictate the colors used throughout your website.
    </p>
    <p>
      If we use my website as an example again, mine is very dark with a
      tan-ish/brown-ish accent color. And I feel that reflects within the
      stylized photography throughout my site. Ultimately, this ensures that
      each page reflects the same level of style and quality, basically, showing
      your viewers that you have your shit together.
    </p>
    <h4>You might not need a big budget</h4>
    <p>
      You don't have to always have a big budget for photography. If you're able
      to, yes, it can certainly help, but there might be other ways to get
      quality photos for your site without breaking the bank.
    </p>
    <p>
      Ask around and see if any friends or family know of anyone who can help
      with photography. If they do, maybe they'll be willing to share their
      services in exchange for something else. I will admit that I’ve gotten
      photos taken in exchange for web services. Now, I know this might not
      apply to you and what you’re offering or selling but I at least thought
      I’d mention it.
    </p>
    <p>
      The other thing I might suggest is to do some locally-based searching in
      your area on Instagram for photographers. And I would try to find someone
      who is just starting out within the Photography industry. Better yet, I
      would look for wedding photographers within that same bucket search. The
      one thing I’ve learned about photographers over the years is that most of
      them have started in the wedding industry.
    </p>

    <div class="">
      <img
        class="mb-6"
        src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
        alt="Video Content is Worth Investing"
      />
    </div>

    <h3>This is something that I stumbled upon early on</h3>

    <p>
      Photography also really helps to create brand consistency throughout every
      aspect of your site. This can be from your standard pages (home, services,
      about, contact) to blog posts and other secondary areas on your website.
      This can also help dictate the colors used throughout your website.
    </p>
    <p>
      If we use my website as an example again, mine is very dark with a
      tan-ish/brown-ish accent color. And I feel that reflects within the
      stylized photography throughout my site. Ultimately, this ensures that
      each page reflects the same level of style and quality, basically, showing
      your viewers that you have your shit together.
    </p>
    <h4>You might not need a big budget</h4>
    <p>
      You don't have to always have a big budget for photography. If you're able
      to, yes, it can certainly help, but there might be other ways to get
      quality photos for your site without breaking the bank.
    </p>

    <div class="">
      <img
        class="mb-6"
        src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
        alt="Video Content is Worth Investing"
      />
    </div>

    <h3>This is something that I stumbled upon early on</h3>

    <p>
      Photography also really helps to create brand consistency throughout every
      aspect of your site. This can be from your standard pages (home, services,
      about, contact) to blog posts and other secondary areas on your website.
      This can also help dictate the colors used throughout your website.
    </p>
    <p>
      If we use my website as an example again, mine is very dark with a
      tan-ish/brown-ish accent color. And I feel that reflects within the
      stylized photography throughout my site. Ultimately, this ensures that
      each page reflects the same level of style and quality, basically, showing
      your viewers that you have your shit together.
    </p>
    <h4>You might not need a big budget</h4>
    <p>
      You don't have to always have a big budget for photography. If you're able
      to, yes, it can certainly help, but there might be other ways to get
      quality photos for your site without breaking the bank.
    </p>
    <blockquote>
      “An example of this is that a lot of the photography on my website is
      actually done by my sister-in-law.”
    </blockquote>
    <p>
      They’re trying to build up their portfolio, and the wedding scene is most
      likely their primary focus when just starting out. Ultimately, what I'm
      getting at is that you might be able to find someone who is really good at
      what they do but is still trying to make a name for their selves, and this
      means that their rates most likely won’t break the bank.
    </p>
    <p>
      The full circle example of this is that a lot of the photography on my
      website is actually done by my sister-in-law. Around 2018 she graduated
      with a degree in photography and was just trying to start out. She
      obviously started trying to find weddings to shoot and I noticed that she
      did really good work. So I brought her on for a test project, and I've
      been using a lot of her services ever since. I know this might not be a
      solution for everyone but wanted to at least throw it out there.
    </p>
    <h4>In the end, it’s totally worth it</h4>
    <p>
      This is just something that I’ve seen a lot of over the years, someone who
      is willing to invest a large budget into their website but doesn’t want to
      get some solid photography done. Trust me, my statement of “Perception is
      Reality” very much plays true here. Your viewers will judge you at first
      glance, so don’t give them that ability. You’re good at what you do or
      you’re providing something really amazing, so make it look fucken awesome.
    </p>

    <form
      action=""
      method="post"
      class="flex justify-center items-center flex-col"
    >
      <h3 class="text-3xl mb-4">Subscribe to jarviswuod.com</h3>
      <p class="text-base mb-4">
        Only sending out 6 messages a year. No bullshit, just some thoughtful
        content.
      </p>
      <div class="flex-items-center justify-center gap-2">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email Address"
          class="bg-white text-black text-base w-[24rem] p-4 py-4 border-1"
        />
        <button
          class="uppercase text-amber-700 border-1 border-amber-700 px-8 py-4"
          type="submit"
        >
          sign up
        </button>
      </div>
    </form>

    <ul class="flex items-center justify-between gap-2 my-8">
      <li>&lt; When is Squarespace 8.0 Releasing?</li>
      <li>Here’s Why I Started a Personal Brand &gt;</li>
    </ul>
  </div>
</section>
{% endblock body_content %}
