{% extends "base.html" %}
<hr />
{% block title_content %}Blogs - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}
<section
  class="bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <h1 class="text-7xl mb-4 font-bold text-center mb-8">My Insights.</h1>
  </div>
</section>

<section class="my-12">
  <div class="max-w-[1280px] mx-auto">
    <h3
      class="text-center text-base font-bold uppercase text-amber-700 mb-18 max-w-6xl"
    >
      Featured Posts
    </h3>
    <div class="grid grid-cols-[auto_1fr_auto] items-center gap-8 mb-24">
      <i
        class="ph ph-caret-left p-3 border-1 border-amber-700 text-3xl rounded-full"
      >
      </i>

      <div class="grid grid-cols-2 items-center gap-12">
        <a class="max-h-120 block overflow-hidden" href="#">
          <img
            class="w-full"
            src="https://images.pexels.com/photos/31331181/pexels-photo-31331181/free-photo-of-cozy-cafe-latte-with-latte-art-by-window.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="Random image 2 from online"
          />
        </a>

        <div class="flex flex-col">
          <h3
            class="text-base font-bold uppercase text-amber-700 mb-4 max-w-6xl"
          >
            Business
          </h3>
          <a href="#" class="text-3xl text-[#fefefe] font-medium mb-6">
            Wanna Reach Your Goals? Here’s How…
          </a>
          <p class="text-lg/8 text-[#dedede] mb-8">
            On a recent trip, I left my book behind to catch up on work but
            couldn’t pass up the latest issue of Harvard Business Review…
          </p>

          <a
            class="w-1/2 text-white text-sm tracking-wide hover:text-black hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
            href="#"
          >
            Read The Post
          </a>
        </div>
      </div>

      <i
        class="ph ph-caret-right p-3 border-1 border-amber-700 text-3xl rounded-full"
      >
      </i>
    </div>
  </div>
</section>

<section class="my-12">
  <div class="max-w-[1280px] mx-auto">
    <ul class="mb-8 grid grid-cols-2 gap-12 gap-y-16">
      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>

        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Video Content is Worth Investing
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>

        <a class="text-amber-700 uppercase" href="#"> Read More </a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Video Content is Worth Investing
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>

        <a class="text-amber-700 uppercase" href="#"> Read More </a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Video Content is Worth Investing
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>

        <a class="text-amber-700 uppercase" href="#"> Read More </a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Video Content is Worth Investing
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>

        <a class="text-amber-700 uppercase" href="#"> Read More </a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Video Content is Worth Investing
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>

        <a class="text-amber-700 uppercase" href="#"> Read More </a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Video Content is Worth Investing
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>

        <a class="text-amber-700 uppercase" href="#"> Read More </a>
      </li>

      <li>
        <a href="#" class="">
          <img
            class="mb-6"
            src="https://images.squarespace-cdn.com/content/v1/5f2983f35c36512f35fee7a6/f273102d-695c-4844-8913-6e826f812c8f/Video-Content-is-Worth-Investing.jpg?format=2500w"
            alt="Video Content is Worth Investing"
          />
        </a>
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Video Content is Worth Investing
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          So, this is something that I stumbled upon early on. Back in 2016, I
          had an opportunity to get my first personal video created for my
          website. Ever since then, I’ve always made an investment in video
          content.
        </p>

        <a class="text-amber-700 uppercase" href="#"> Read More </a>
      </li>
    </ul>

    <div class="flex items-center justify-between gap-4 my-24">
      <a href="#" class="flex items-center gap-4 text-lg group">
        <i class="ph ph-caret-left text-2xl group-hover:text-xl"> </i>
        <p class="group-hover:underline underline-offset-4">Newer Posts</p>
      </a>
      <a href="#" class="flex items-center gap-4 text-lg group">
        <p class="group-hover:underline underline-offset-4">Older Posts</p>
        <i class="ph ph-caret-right text-2xl group-hover:text-xl"> </i>
      </a>
    </div>

    <form
      action=""
      method="post"
      class="flex justify-center items-center flex-col mb-24"
    >
      <h3 class="text-5xl text-[#fefefe] font-medium mb-6">
        Subscribe to jarviswuod.com
      </h3>
      <p class="text-lg/8 text-[#dedede] mb-10">
        No bullshit, just some thoughtful content.
      </p>

      <div class="flex-items-center justify-center">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email Address"
          class="bg-white text-black text-base w-[24rem] p-5 border-1 mr-4"
        />
        <button
          class="uppercase text-amber-700 border-1 border-amber-700 px-8 p-5"
          type="submit"
        >
          sign up
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock body_content %}
