{% extends "base.html" %} {% load static %}
<hr />
{% block title_content %}Contact - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}
<section
  class="bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <h1 class="text-7xl mb-4 font-bold text-center mb-8">Reach Out.</h1>
  </div>
</section>

<section class="my-24">
  <div class="max-w-[1280px] mx-auto relative grid grid-cols-2 gap-12">
    <div class="max-h-158 overflow-hidden rounded-xl relative">
      <img
        class="w-full"
        src="https://images.pexels.com/photos/30447802/pexels-photo-30447802/free-photo-of-charming-gallery-entrance-in-dijon-france.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
        alt="Random online photo"
      />

      <span
        class="text-3xl bg-black text-white font-bold absolute top-0 left-0 px-2 max-w-1/2"
      >
        Here’s what my satisfied clients have to say
      </span>
    </div>
    <div class="max-h-158 overflow-auto scrollbar-hide">
      <ul class="space-y-6 mr-4">
        <li class="border-1 rounded-2xl p-6">
          <p class="mb-4">⭐ ⭐ ⭐ ⭐ ⭐</p>

          <p class="text-lg/8 text-[#dedede] mb-8">
            "Jarvis has a way of dissecting down to the very heart of your
            troubles. Having a call with him cleanses your thoughts and
            redirects you to what needs to be done"
          </p>
          <div class="grid grid-cols-[auto_1fr] items-center gap-4 gap-y-2">
            <div class="max-w-12 overflow-hidden rounded-full">
              <img class='w-full' src={% static "/profile.jpg" %} alt="">
            </div>
            <div>
              <h6 class="font-semibold">Jarvis Wuod</h6>
              <p class="text-[#dedede]">@jarviswuod</p>
            </div>
          </div>
        </li>
        <li class="border-1 rounded-2xl p-6">
          <p class="mb-4">⭐ ⭐ ⭐ ⭐ ⭐</p>

          <p class="text-lg/8 text-[#dedede] mb-8">
            "Jarvis has a way of dissecting down to the very heart of your
            troubles. Having a call with him cleanses your thoughts and
            redirects you to what needs to be done"
          </p>
          <div class="grid grid-cols-[auto_1fr] items-center gap-4 gap-y-2">
            <div class="max-w-12 overflow-hidden rounded-full">
              <img class='w-full' src={% static "/profile.jpg" %} alt="">
            </div>
            <div>
              <h6 class="font-semibold">Jarvis Wuod</h6>
              <p class="text-[#dedede]">@jarviswuod</p>
            </div>
          </div>
        </li>

        <li class="border-1 rounded-2xl p-6">
          <p class="mb-4">⭐ ⭐ ⭐ ⭐ ⭐</p>

          <p class="text-lg/8 text-[#dedede] mb-8">
            "Jarvis has a way of dissecting down to the very heart of your
            troubles. Having a call with him cleanses your thoughts and
            redirects you to what needs to be done"
          </p>
          <div class="grid grid-cols-[auto_1fr] items-center gap-4 gap-y-2">
            <div class="max-w-12 overflow-hidden rounded-full">
              <img class='w-full' src={% static "/profile.jpg" %} alt="">
            </div>
            <div>
              <h6 class="font-semibold">Jarvis Wuod</h6>
              <p class="text-[#dedede]">@jarviswuod</p>
            </div>
          </div>
        </li>

        <li class="border-1 rounded-2xl p-6">
          <p class="mb-4">⭐ ⭐ ⭐ ⭐ ⭐</p>

          <p class="text-lg/8 text-[#dedede] mb-8">
            "Jarvis has a way of dissecting down to the very heart of your
            troubles. Having a call with him cleanses your thoughts and
            redirects you to what needs to be done"
          </p>
          <div class="grid grid-cols-[auto_1fr] items-center gap-4 gap-y-2">
            <div class="max-w-12 overflow-hidden rounded-full">
              <img class='w-full' src={% static "/profile.jpg" %} alt="">
            </div>
            <div>
              <h6 class="font-semibold">Jarvis Wuod</h6>
              <p class="text-[#dedede]">@jarviswuod</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="my-12">
  <div class="max-w-[1280px] mx-auto relative">
    <ul class="mb-8 grid grid-cols-3">
      <li
        class="pl-4 p-2 border-l-4 border-[#222] hover:border-amber-700 duration-500 transform-all"
      >
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Code Shop Support
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Purchased a Code Shop product and you're having issues? Need another
          download request for your access file? Then you've come to the right
          place.
        </p>

        <a class="text-amber-700 uppercase" href="#">Submit Ticket</a>

        <div class="hidden">
          <div
            class="absolute left-0 -top-48- min-w-[1380px] block min-h-dvh bg-[#00000010]"
          ></div>

          <form
            class="w-1/2 absolute top-1/2 left-1/2 transform -translate-x-1/2 p-8 bg-white text-black"
          >
            <button class="text-right">x</button>
            <h3
              class="uppercase text-sm border-l-2 pl-2 border-black font-semibold mb-4"
            >
              Contact Details
            </h3>
            <label class="block mb-4">
              <p class="text-sm col-span-2 mb-2">
                Full Name
                <span class="mb-2 text-xs text-[#444]"> (required)</span>
              </p>
              <input
                type="text"
                required
                class="w-full p-2 border border-gray-300 rounded mb-2"
              />
            </label>

            <label class="block mb-4">
              <p class="text-sm col-span-2 mb-2">
                Email Address
                <span class="mb-2 text-xs text-[#444]"> (required)</span>
              </p>
              <input
                type="email"
                required
                class="w-full p-2 border border-gray-300 rounded mb-2"
              />
            </label>
            <label class="block mb-4">
              <p class="text-sm col-span-2">Phone Number</p>
              <p class="mb-2 text-xs text-[#444] inline-block">
                Not required but sometimes it's easier to just connnect directly
              </p>
              <input
                type="tel"
                class="w-full p-2 border border-gray-300 rounded mb-2"
              />
            </label>

            <div class="hidden">
              <h3
                class="uppercase text-sm border-l-2 pl-2 border-black font-semibold mb-4 mt-8"
              >
                Product Details
              </h3>

              <label class="block mb-4">
                <p class="text-sm col-span-2 mb-2">
                  Product Name in Question
                  <span class="mb-2 text-xs text-[#444]"> (required)</span>
                </p>
                <input
                  type="text"
                  required
                  class="w-full p-2 border border-gray-300 rounded mb-2"
                />
              </label>

              <label class="block mb-4">
                <p class="text-sm col-span-2 mb-2">
                  Services Needed
                  <span class="mb-2 text-xs text-[#444]"> (required)</span>
                </p>
                <div class="flex flex-col">
                  <label class="flex items-center mb-2">
                    <input
                      type="radio"
                      name="services"
                      value="Digital Download Request"
                      class="mr-2"
                    />
                    Digital Download Request
                  </label>
                  <label class="flex items-center mb-2">
                    <input
                      type="radio"
                      name="services"
                      value="Not Working as Intended"
                      class="mr-2"
                    />
                    Not Working as Intended
                  </label>
                  <label class="flex items-center mb-2">
                    <input
                      type="radio"
                      name="services"
                      value="Completely Broken"
                      class="mr-2"
                    />
                    Completely Broken
                  </label>
                  <label class="flex items-center mb-2">
                    <input
                      type="radio"
                      name="services"
                      value="Installation Problem"
                      class="mr-2"
                    />
                    Installation Problem
                  </label>
                  <label class="flex items-center mb-2">
                    <input
                      type="radio"
                      name="services"
                      value="Other"
                      class="mr-2"
                    />
                    Other (provide details below)
                  </label>
                </div>
              </label>

              <label class="block mb-4">
                <p class="text-sm col-span-2">Relevant Link</p>
                <p class="mb-2 text-xs text-[#444] inline-block">
                  If you have an active link to the product in question
                </p>

                <input
                  type="url"
                  class="w-full p-2 border border-gray-300 rounded mb-2"
                />
              </label>

              <label class="block mb-4">
                <p class="text-sm col-span-2">
                  Details About the Problem (required)
                </p>
                <p class="mb-2 text-xs text-[#444] inline-block">
                  Please provide as much detail about the product in question
                </p>
                <textarea
                  rows="4"
                  required
                  class="w-full p-2 border border-gray-300 rounded mb-4"
                ></textarea>
              </label>

              <button
                type="submit"
                class="uppercase font-semibold text-sm text-black hover:text-white hover:bg-amber-700 w-full py-4 rounded border-1 border-amber-700 transform transition-all duration-300"
              >
                Submit Ticket
              </button>
            </div>

            <div class="hidden">
              <h3
                class="uppercase text-sm border-l-2 pl-2 border-black font-semibold mb-4 mt-8"
              >
                Project Details
              </h3>

              <label class="block mb-4">
                <p class="text-sm col-span-2 mb-2">
                  Product Name in Question
                  <span class="mb-2 text-xs text-[#444]"> (required)</span>
                </p>
                <input
                  type="text"
                  required
                  class="w-full p-2 border border-gray-300 rounded mb-2"
                />
              </label>

              <label class="block mb-4">
                <p class="text-sm col-span-2 mb-2">
                  Services Needed
                  <span class="mb-2 text-xs text-[#444]"> (required)</span>
                </p>
                <div class="flex flex-col">
                  <label class="flex items-center mb-2">
                    <input
                      type="checkbox"
                      name="services"
                      value="Digital Download Request"
                      class="mr-2"
                    />
                    Digital Download Request
                  </label>
                  <label class="flex items-center mb-2">
                    <input
                      type="checkbox"
                      name="services"
                      value="Not Working as Intended"
                      class="mr-2"
                    />
                    Not Working as Intended
                  </label>
                  <label class="flex items-center mb-2">
                    <input
                      type="checkbox"
                      name="services"
                      value="Completely Broken"
                      class="mr-2"
                    />
                    Completely Broken
                  </label>
                  <label class="flex items-center mb-2">
                    <input
                      type="checkbox"
                      name="services"
                      value="Installation Problem"
                      class="mr-2"
                    />
                    Installation Problem
                  </label>
                  <label class="flex items-center mb-2">
                    <input
                      type="checkbox"
                      name="services"
                      value="Other"
                      class="mr-2"
                    />
                    Other (provide details below)
                  </label>
                </div>
              </label>

              <label class="block mb-4">
                <p class="text-sm col-span-2">A Few Details (required)</p>
                <p class="mb-2 text-xs text-[#444] inline-block">
                  Just give me a quick rundown (the more information, the
                  better).
                </p>
                <textarea
                  rows="4"
                  required
                  class="w-full p-2 border border-gray-300 rounded mb-4"
                ></textarea>
              </label>

              <button
                type="submit"
                class="uppercase font-semibold text-sm text-black hover:text-white hover:bg-amber-700 w-full py-4 rounded border-1 border-amber-700 transform transition-all duration-300"
              >
                Send Inquiry
              </button>
            </div>

            <div class="">
              <h3
                class="uppercase text-sm border-l-2 pl-2 border-black font-semibold mb-4 mt-8"
              >
                Message Details
              </h3>

              <label class="block mb-4">
                <p class="text-sm col-span-2">Your Message (required)</p>
                <p class="mb-2 text-xs text-[#444] inline-block">
                  Send something awesome to my inbox.
                </p>
                <textarea
                  rows="4"
                  required
                  class="w-full p-2 border border-gray-300 rounded mb-4"
                ></textarea>
              </label>

              <button
                type="submit"
                class="uppercase font-semibold text-sm text-black hover:text-white hover:bg-amber-700 w-full py-4 rounded border-1 border-amber-700 transform transition-all duration-300"
              >
                Send Message
              </button>
            </div>
          </form>
        </div>
      </li>

      <li
        class="pl-4 p-2 border-l-4 border-[#222] hover:border-amber-700 duration-500 transform-all"
      >
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">Hire an Expert</h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Are you looking for a Squarespace developer? Or maybe you need some
          consulting or training services? Send an inquiry or just call
          717-525-1031.
        </p>

        <a class="text-amber-700 uppercase" href="#">Send Inquiry</a>
      </li>

      <li
        class="pl-4 p-2 border-l-4 border-[#222] hover:border-amber-700 duration-500 transform-all"
      >
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          General Questions
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Feel free to reach out to me if you have any questions or comments
          about the services I offer. Also, you could always just send me a
          friendly hello.
        </p>

        <a class="text-amber-700 uppercase" href="#">Say Hello</a>
      </li>

      <li class="col-span-3 self-center justify-self-center my-24">
        <h3 class="text-4xl text-[#fefefe] font-medium mb-4 text-center">
          Or contact me directly
        </h3>
        <p class="text-lg/8 text-[#dedede] text-center text-amber-700">
          <a
            class="underline underline-offset-2"
            href="mailto:jarviswuod@gmail.com"
          >
            jarviswuod@gmail.com
          </a>
        </p>
        <p class="text-lg/8 text-[#dedede] text-center text-amber-700">
          <a class="underline underline-offset-2" href="tel:+254757464904">
            +254 757 464 904
          </a>
        </p>
      </li>
    </ul>
  </div>
</section>
{% endblock body_content %}
