{% extends "base.html" %} {% load static %}
<hr />
{% block title_content %}Contact - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}
<section
  class="bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <h1 class="text-7xl mb-4 font-bold text-center mb-8">Reach Out.</h1>
  </div>
</section>

<section class="my-24">
  <div class="max-w-[1280px] mx-auto relative grid grid-cols-2 gap-12">
    <div class="max-h-158 overflow-hidden rounded-xl relative">
      <img
        class="w-full"
        src="https://images.pexels.com/photos/30447802/pexels-photo-30447802/free-photo-of-charming-gallery-entrance-in-dijon-france.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
        alt="Random online photo"
      />

      <span
        class="text-3xl bg-black text-white font-bold absolute top-0 left-0 px-2 max-w-1/2"
      >
        Here’s what my satisfied clients have to say
      </span>
    </div>
    <div class="max-h-158 overflow-auto scrollbar-hide">
      <ul class="space-y-6 mr-4">
        <li class="border-1 rounded-2xl p-6">
          <p class="mb-4">⭐ ⭐ ⭐ ⭐ ⭐</p>

          <p class="text-lg/8 text-[#dedede] mb-8">
            "Take that step today. One thing I can assure you of is this will be
            a profitable step for you "
          </p>
          <div class="grid grid-cols-[auto_1fr] items-center gap-4 gap-y-2">
            <div class="max-w-12 overflow-hidden rounded-full">
              <img class='w-full' src={% static "/profile.jpg" %} alt="">
            </div>
            <div>
              <h6 class="font-semibold">Jarvis Wuod</h6>
              <p class="text-[#dedede]">@jarviswuod</p>
            </div>
          </div>
        </li>
        <li class="border-1 rounded-2xl p-6">
          <p class="mb-4">⭐ ⭐ ⭐ ⭐ ⭐</p>

          <p class="text-lg/8 text-[#dedede] mb-8">
            "I recommend everyone to enroll because the host is friendly and a
            good mentor "
          </p>
          <div class="grid grid-cols-[auto_1fr] items-center gap-4 gap-y-2">
            <div class="max-w-12 overflow-hidden rounded-full">
              <img class='w-full' src={% static "/profile.jpg" %} alt="">
            </div>
            <div>
              <h6 class="font-semibold">Jarvis Wuod</h6>
              <p class="text-[#dedede]">@jarviswuod</p>
            </div>
          </div>
        </li>
        <li class="border-1 rounded-2xl p-6">
          <p class="mb-4">⭐ ⭐ ⭐ ⭐ ⭐</p>

          <p class="text-lg/8 text-[#dedede] mb-8">
            "My message is, they should get on that call, it's a career saving
            call "
          </p>
          <div class="grid grid-cols-[auto_1fr] items-center gap-4 gap-y-2">
            <div class="max-w-12 overflow-hidden rounded-full">
              <img class='w-full' src={% static "/profile.jpg" %} alt="">
            </div>
            <div>
              <h6 class="font-semibold">Jarvis Wuod</h6>
              <p class="text-[#dedede]">@jarviswuod</p>
            </div>
          </div>
        </li>
        <li class="border-1 rounded-2xl p-6">
          <p class="mb-4">⭐ ⭐ ⭐ ⭐ ⭐</p>

          <p class="text-lg/8 text-[#dedede] mb-8">
            "Get on board, the right mentorship is the path to success.
            Sometime, all you need is someone who had gone through what you are
            going through..."
          </p>
          <div class="grid grid-cols-[auto_1fr] items-center gap-4 gap-y-2">
            <div class="max-w-12 overflow-hidden rounded-full">
              <img class='w-full' src={% static "/profile.jpg" %} alt="">
            </div>
            <div>
              <h6 class="font-semibold">Jarvis Wuod</h6>
              <p class="text-[#dedede]">@jarviswuod</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% include "contact-form.html" %}

<section class="my-12">
  <div class="max-w-[1280px] mx-auto relative">
    <ul class="contact-options mb-8 grid grid-cols-3">
      <li
        class="contact--resume pl-4 p-2 py-8 border-l-4 border-[#222] hover:border-amber-700 duration-500 transform-all cursor-pointer"
        onclick="showFormSection('ticket')"
      >
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          Code Shop Support
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Purchased a Code Shop product and you're having issues? Need another
          download request for your access file? Then you've come to the right
          place.
        </p>

        <button class="text-amber-700 uppercase font-semibold">
          Submit Ticket
        </button>
      </li>

      <li
        class="contact--expert pl-4 p-2 py-8 border-l-4 border-[#222] hover:border-amber-700 duration-500 transform-all cursor-pointer"
        onclick="showFormSection('inquiry')"
      >
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">Hire an Expert</h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Are you looking for a Squarespace developer? Or maybe you need some
          consulting or training services? Send an inquiry or just call
          717-525-1031.
        </p>

        <button class="text-amber-700 uppercase font-semibold">
          Send Inquiry
        </button>
      </li>

      <li
        class="contact--general-quiz pl-4 p-2 py-8 border-l-4 border-[#222] hover:border-amber-700 duration-500 transform-all cursor-pointer"
        onclick="showFormSection('message')"
      >
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          General Questions
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Feel free to reach out to me if you have any questions or comments
          about the services I offer. Also, you could always just send me a
          friendly hello.
        </p>

        <button class="text-amber-700 uppercase font-semibold">
          Say Hello
        </button>
      </li>

      <li class="col-span-3 self-center justify-self-center my-24">
        <h3 class="text-4xl text-[#fefefe] font-medium mb-4 text-center">
          Or contact me directly
        </h3>
        <p class="text-lg/8 text-[#dedede] text-center text-amber-700">
          <a
            class="underline underline-offset-2"
            href="mailto:jarviswuod@gmail.com"
          >
            jarviswuod@gmail.com
          </a>
        </p>
        <p class="text-lg/8 text-[#dedede] text-center text-amber-700">
          <a class="underline underline-offset-2" href="tel:+254757464904">
            +254 757 464 904
          </a>
        </p>
      </li>
    </ul>
  </div>
</section>
{% endblock body_content %}
