{% extends "base.html" %} {% load static %}
<hr />
{% block title_content %}Jarvis Wuod - Ultimate guide to learning web
development, land your first job and acces to convert your ideas into website
you will fall in love with{% endblock title_content %}
<hr />

{% block body_content %}
<section
  class="home-hero-section relative bg-cover bg-center"
  style="background-image: url('{% static 'hero-img.webp' %}')"
>
  <div
    class="absolute inset-0 bg-gradient-to-br from-[rgba(0,0,0,0.5)] to-[rgba(0,0,0,0.5)]"
  ></div>
  <div class="relative z-10 text-white max-w-[980px] mx-auto">
    <div
      class="home-hero-card min-h-lvh flex items-center justify-center flex-col"
    >
      <h1 class="text-6xl mb-4 font-bold text-center mb-8">
        A guided mentorship delivered to you, every single day.
      </h1>
      <p class="text-2xl text-center max-w-[840px] mb-16">
        The smart, flexible mentorship program that will help you grow your web
        development skills and career. Tailored to your goals and learning pace.
      </p>

      <div class="w-full flex items-center justify-center gap-12">
        <a
          class="w-1/4 text-black text-base tracking-wide bg-amber-400 hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="#"
        >
          Start leveling up
        </a>
        <a
          class="w-1/4 text-white text-base tracking-wide text-center font-bold uppercase border-1 border-amber-400 p-4 px-4"
          href="{% url 'mentorship' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>
    </div>
    <div
      class="home-hero-card hidden min-h-lvh flex items-center justify-center flex-col"
    >
      <h1 class="text-6xl mb-4 font-bold text-center mb-8">
        A hands-on web & mobile development mentorship.
      </h1>
      <p class="text-2xl text-center max-w-[840px] mb-16">
        The flexible program that helps you master full-stack development and
        launch your career—tailored to your goals and learning pace.
      </p>

      <div class="w-full flex items-center justify-center gap-12">
        <a
          class="w-1/4 text-black text-base tracking-wide bg-amber-400 hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="#"
        >
          Start building today
        </a>
        <a
          class="w-1/4 text-white text-base tracking-wide text-center font-bold uppercase border-1 border-amber-400 p-4 px-4"
          href="{% url 'software' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>
    </div>

    <div
      class="home-hero-card hidden min-h-lvh flex items-center justify-center flex-col"
    >
      <h1 class="text-6xl mb-4 font-bold text-center mb-8">
        A personalized CV & LinkedIn review, deliver to you on demand.
      </h1>
      <p class="text-2xl text-center max-w-[840px] mb-16">
        The expert service that helps you optimize your resume, craft standout
        cover letters, and land more job opportunities in tech.
      </p>

      <div class="w-full flex items-center justify-center gap-12">
        <a
          class="w-1/4 text-black text-base tracking-wide bg-amber-400 hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="#"
        >
          Get hired faster
        </a>
        <a
          class="w-1/4 text-white text-base tracking-wide text-center font-bold uppercase border-1 border-amber-400 p-4 px-4"
          href="{% url 'resume' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="my-24">
  <ul
    class="max-w-6xl mx-auto px-4 py-12 text-center bg-white text-black rounded-xl grid grid-cols-3 divide-x-1 divide-[#555] text-base uppercase text-[#333]"
  >
    <li>
      <h5 class="mb-2">Devs Mentored</h5>
      <p class="text-6xl font-bold">+50</p>
    </li>
    <li>
      <h5 class="mb-2">Software/ Websites Built</h5>
      <p class="text-6xl font-bold">+10</p>
    </li>

    <li>
      <h5 class="mb-2">Resumes Improved</h5>
      <p class="text-6xl font-bold">+10</p>
    </li>
  </ul>
</section>

<section class="bg-[#222] text-white">
  <div class="max-w-[1280px] py-18 mx-auto px-4 space-y-24">
    <h3
      class="text-left text-base font-bold uppercase text-amber-700 mb-4 max-w-6xl"
    >
      Explore My Services
    </h3>
    <p class="text-5xl/14 font-medium mb-18 text-left max-w-6xl">
      Discover how I can help you through tailored solutions.
    </p>
    {% comment %}
    <div class="grid grid-cols-2 gap-12 items-center">
      <div class="w-full">
        <img
          src="https://images.unsplash.com/photo-1742646895322-1d439c21c2b5?q=80&w=1638&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Random ducks"
        />
      </div>
      <div class="flex flex-col">
        <h3 class="text-3xl text-[#fefefe] font-medium mb-6">
          Being a Squarespace Developer & Designer is my primary focus.
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Let's be honest and cut through the marketing bullshit, you need a
          website that looks amazing and actually works. Bottom line, that's
          what I do. If you want to learn more about working with me, take a
          look through my website.
        </p>

        <a
          class="w-1/2 text-white text-sm tracking-wide hover:text-black hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="{% url 'mentorship' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-12 items-center">
      <div class="flex flex-col">
        <h3 class="text-3xl text-[#fefefe] font-medium mb-6">
          Being a Squarespace Developer & Designer is my primary focus.
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Let's be honest and cut through the marketing bullshit, you need a
          website that looks amazing and actually works. Bottom line, that's
          what I do. If you want to learn more about working with me, take a
          look through my website.
        </p>

        <a
          class="w-1/2 text-white text-sm tracking-wide hover:text-black hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="{% url 'software' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>

      <div class="w-full">
        <img
          src="https://images.unsplash.com/photo-1742646895322-1d439c21c2b5?q=80&w=1638&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Random ducks"
        />
      </div>
    </div>

    <div class="grid grid-cols-2 gap-12 items-center">
      <div class="w-full">
        <img
          src="https://images.unsplash.com/photo-1742646895322-1d439c21c2b5?q=80&w=1638&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Random ducks"
        />
      </div>
      <div class="flex flex-col">
        <h3 class="text-3xl text-[#fefefe] font-medium mb-6">
          Being a Squarespace Developer & Designer is my primary focus.
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Let's be honest and cut through the marketing bullshit, you need a
          website that looks amazing and actually works. Bottom line, that's
          what I do. If you want to learn more about working with me, take a
          look through my website.
        </p>

        <a
          class="w-1/2 text-white text-sm tracking-wide hover:text-black hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="{% url 'resume' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>
    </div>
    {% endcomment %}
    <div class="grid grid-cols-2 gap-12 items-center">
      <div class="w-full">
        <img
          src="https://images.unsplash.com/photo-1742646895322-1d439c21c2b5?q=80&w=1638&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Random ducks"
        />
      </div>
      <div class="flex flex-col">
        <h3 class="text-3xl text-[#fefefe] font-medium mb-6">
          1-on-1 Mentorship
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          I help beginners become confident web developers with personalized
          guidance, weekly calls, and a proven roadmap. If you're ready to take
          your skills seriously, let's work together.
        </p>

        <a
          class="w-1/2 text-white text-sm tracking-wide hover:text-black hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="{% url 'mentorship' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-12 items-center">
      <div class="flex flex-col">
        <h3 class="text-3xl text-[#fefefe] font-medium mb-6">
          Custom Software Solutions
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          Need a website or Android app that works and looks amazing? I build
          full-stack solutions for startups, NGOs, and solo businesses. Let’s
          bring your idea to life.
        </p>

        <a
          class="w-1/2 text-white text-sm tracking-wide hover:text-black hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="{% url 'software' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>

      <div class="w-full">
        <img
          src="https://images.unsplash.com/photo-1742646895322-1d439c21c2b5?q=80&w=1638&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Random ducks"
        />
      </div>
    </div>

    <div class="grid grid-cols-2 gap-12 items-center">
      <div class="w-full">
        <img
          src="https://images.unsplash.com/photo-1742646895322-1d439c21c2b5?q=80&w=1638&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Random ducks"
        />
      </div>
      <div class="flex flex-col">
        <h3 class="text-3xl text-[#fefefe] font-medium mb-6">
          Resume & LinkedIn Review
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-8">
          I'll optimize your resume, fine-tune your LinkedIn profile, and show
          you how to apply for jobs the smart way. Get noticed by recruiters and
          land more interviews.
        </p>

        <a
          class="w-1/2 text-white text-sm tracking-wide hover:text-black hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5 px-4"
          href="{% url 'resume' %}"
        >
          Learn more <span class="ml-2 text-xl">↓</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-black text-white my-12">
  <div class="max-w-[1280px] text-xl/9 mx-auto px-4">
    <p class="text-5xl/14 text-center font-medium mb-4 max-w-6xl">
      Wall of Love ❤️
    </p>
    <p class="text-center max-w-6xl mx-auto mb-8">
      Buy Me a Coffee testimonials The testimonials page of Buy Me a Coffee
      shares its story, which began in late 2017, and highlights how the
      platform has supported over a million creators since then.Buy Me a Coffee
      testimonials The testimonials page of Buy Me a Coffee shares its story,
      which began in late 2017, and highlights how the platform has supported
      over a million creators since then.
    </p>

    <div class="mt-4 mb-16 space-x-2 text-center">
      ⭐ ⭐ ⭐ ⭐ ⭐ <span class="text-base ml-2">Reviews of My Services</span>
    </div>

    <h4 class="flex items-center justify-between mb-8">
      <p class="text-4xl text-[#fefefe] font-semibold">
        <i class="ph ph-x-logo"></i> Twitter
      </p>
      <p class="flex items-center gap-4">
        <i
          onclick="prevSlide()"
          class="ph ph-caret-left p-2 border-1 border-[#dedede] text-2xl rounded-full cursor-pointer hover:bg-white hover:text-black duration-300 transform-all"
        >
        </i>
        <i
          onclick="nextSlide()"
          class="ph ph-caret-right p-2 border-1 border-[#dedede] text-2xl rounded-full cursor-pointer hover:bg-white hover:text-black duration-300 transform-all"
        >
        </i>
      </p>
    </h4>

    <ul class="testimonial grid grid-cols-3 gap-4 items-start mb-24">
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_1.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_2.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_3.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_4.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_5.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_6.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
    </ul>
    <ul class="testimonial grid grid-cols-3 gap-4 items-start mb-24 hidden">
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_7.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_8.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_9.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_10.png" %}" alt="twitter
          testimonial">
        </div>
      </li>

      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_11.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_12.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
    </ul>
    <ul class="testimonial grid grid-cols-3 gap-4 items-start mb-24 hidden">
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_13.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_14.png" %}" alt="twitter
          testimonial">
        </div>
      </li>

      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_15.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_16.png" %}" alt="twitter
          testimonial">
        </div>
      </li>

      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_17.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_18.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
    </ul>
    <ul class="testimonial grid grid-cols-3 gap-4 items-start mb-24 hidden">
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_19.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_20.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_21.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_22.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_23.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_24.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
    </ul>
    <ul class="testimonial grid grid-cols-3 gap-4 items-start mb-24 hidden">
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_25.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_26.png" %}" alt="twitter
          testimonial">
        </div>
      </li>

      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_27.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_28.png" %}" alt="twitter
          testimonial">
        </div>
      </li>

      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_29.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_30.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
    </ul>
    <ul class="testimonial grid grid-cols-3 gap-4 items-start mb-24 hidden">
      <li class="space-y-4">
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_31.png" %}" alt="twitter
          testimonial">
        </div>
        <div class="border-1 border-[#434343] rounded-2xl overlow-hidden p-2">
          <img src="{% static "testimonials/image_32.png" %}" alt="twitter
          testimonial">
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="my-12">
  <form
    class="max-w-6xl mx-auto px-16 py-12 bg-white text-black rounded-lg grid grid-cols-[3fr_2fr]"
  >
    <div class="py-18">
      <h3 class="text-6xl/14 font-medium mb-8 text-left max-w-6xl">
        Book your first call for free
      </h3>
      <p class="text-xl mb-12">
        Let’s talk about your goals and how I can help you grow—no strings
        attached.
      </p>

      <div class="grid grid-cols-2 gap-4 gap-y-8 justify-between text-sm">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Full Name"
          class="border-1 border-amber-400 p-5"
        />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          class="border-1 border-amber-400 p-5"
        />
        <select
          name="reason"
          id="reason"
          class="text-sm border-1 border-amber-400 p-5"
        >
          <option value="">Choose Discussion Topic</option>
          <option value="mentorship">The Mentorship Program</option>
          <option value="software">I need a software</option>
          <option value="cvreview">I need Resume review</option>
          <option value="cvreview">Other reasons</option>
        </select>

        <button
          class="text-black text-sm tracking-wide bg-amber-700 hover:bg-amber-200 duration-300 transform-all text-center font-bold uppercase border-1 border-amber-400 p-5"
          type="submit"
        >
          Book Now
        </button>
      </div>
    </div>
  </form>
</section>

<section class="my-12">
  <div class="max-w-7xl mx-auto px-8 py-12">
    <h3
      class="text-left text-base font-bold uppercase text-amber-700 mb-4 max-w-6xl"
    >
      Latest Software projects
    </h3>
    <p class="text-5xl/14 font-medium mb-18 text-left max-w-6xl">
      As a Fullstack developer, here are some of the latest software projects
      I’ve worked on.
    </p>
    <div class="grid grid-cols-[3fr_2fr] gap-16 mb-28">
      <div>
        <a
          target="_blank"
          href="https://www.kandafocusphotography.com/"
          class="mb-4 block"
        >
          <img
            class="w-full"
            src="https://images.pexels.com/photos/31308251/pexels-photo-31308251/free-photo-of-cozy-cat-and-dog-relaxing-indoors-on-bed.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="Just a radon image picked online"
          />
        </a>
        <a
          target="_blank"
          href="https://www.kandafocusphotography.com/"
          class="underline uppercase text-amber-700"
        >
          KandaFocus Photography
        </a>
      </div>
      <div class="self-end translate-y-28">
        <a
          target="_blank"
          href="https://www.keymoneyfinance.co.ke/"
          class="mb-4 block"
        >
          <img
            class="w-full"
            src="https://images.unsplash.com/photo-1742646895349-93c71c08e693?q=80&w=1613&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Just a radon image picked online"
          />
        </a>
        <a
          target="_blank"
          href="https://www.keymoneyfinance.co.ke/"
          class="underline uppercase text-amber-700"
        >
          KeyMoney website
        </a>
      </div>
    </div>
  </div>
</section>

<section class="my-12">
  <div class="max-w-7xl mx-auto px-8 py-12">
    <h3
      class="text-left text-base font-bold uppercase text-amber-700 mb-4 max-w-6xl"
    >
      Latest Blog Posts
    </h3>

    <p class="text-5xl/14 font-medium mb-18 text-left max-w-6xl">
      Dev life, growth plans, health wins, money moves * real talk, my journey,
      unfiltered. *
    </p>

    <ul class="grid grid-cols-3 gap-8">
      <li>
        <div class="mb-4">
          <img
            src="https://images.pexels.com/photos/31173342/pexels-photo-31173342/free-photo-of-two-dogs-in-amsterdam-street-portrait.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="random image from online"
          />
        </div>

        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          My Journey of Progress
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          Hard Truths, Habits, and Hustle
        </p>

        <a class="underline text-amber-700" href="#"> Learn More </a>
      </li>
      <li>
        <div class="mb-4">
          <img
            src="https://images.pexels.com/photos/31173342/pexels-photo-31173342/free-photo-of-two-dogs-in-amsterdam-street-portrait.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="random image from online"
          />
        </div>
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          The 4-Step Blueprint
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          How I'm Supercharging My Personal Brand Growth on X
        </p>

        <a class="underline text-amber-700" href="#"> Learn More </a>
      </li>

      <li>
        <div class="mb-4">
          <img
            src="https://images.pexels.com/photos/31173342/pexels-photo-31173342/free-photo-of-two-dogs-in-amsterdam-street-portrait.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="random image from online"
          />
        </div>
        <h3 class="text-3xl text-[#fefefe] font-medium mb-4">
          From Struggles to Strength:
        </h3>
        <p class="text-lg/8 text-[#dedede] mb-4">
          How James Clear, Alex Hormozi, and Dan Koe are transforming my life.
        </p>

        <a class="underline text-amber-700" href="#"> Learn More </a>
      </li>
    </ul>
  </div>
</section>

{% endblock body_content %}
