{% extends "base.html" %}
<hr />
{% load static %}
<hr />
{% block title_content %} Job Description{% endblock title_content%}
<hr />

{% block body_content %}

<section class="bg-black text-white my-8">
  <div
    class="max-w-[1280px] mx-auto px-4 grid grid-cols-[1fr_2fr] items-start gap-12"
  >
    <div
      class="px-4 p-8 text-center border-1 border-[#dedede] rounded-2xl flex items-center justify-start flex-col gap-4"
    >
      <div class="w-24 rounded-full overflow-hidden">
        <img src={% static 'profile.jpg'%} alt="">
      </div>
      <h3>Black & Veatch</h3>
      <ul class="flex items-center space-x-4 mb-2">
        <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
          <a href="#">website</a>
        </li>
        <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
          <a href="#">All Job Openings</a>
        </li>
      </ul>
      <p>
        Black & Veatch is a global engineering, procurement, and construction
        company that provides multidisciplinary support across various sectors,
        focusing on sustainable infrastructure solutions. With over 110 years of
        experience, the company specializes in delivering critical services for
        power generation, water utilities, industrial processes, and advisory
        services.
      </p>
      <p>
        Black & Veatch is committed to addressing modern infrastructure
        challenges and ensuring long-term resilience for communities and clients
        worldwide.
      </p>

      <p>Security</p>
      <ul class="block mb-2 space-y-4">
        <li
          class="bg-[#333] p-1 px-2 rounded-sm font-semibold inline-block m-1"
        >
          <a href="#">10,000+ employees</a>
        </li>
        <li
          class="bg-[#333] p-1 px-2 rounded-sm font-semibold inline-block m-1"
        >
          <a href="#">Founded 1915</a>
        </li>
        <li
          class="bg-[#333] p-1 px-2 rounded-sm font-semibold inline-block m-1"
        >
          <a href="#">Energy</a>
        </li>
        <li
          class="bg-[#333] p-1 px-2 rounded-sm font-semibold inline-block m-1"
        >
          <a href="#">Grant on 2023-03</a>
        </li>
      </ul>
    </div>

    <div class="space-y-4">
      <h3 class="text-2xl font-semibold">Electrical Engineer</h3>
      <p>45 minutes ago</p>

      <ul class="flex items-center space-x-4">
        <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
          Nairobi, kenya
        </li>
        <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
          $ 110k - 150k
        </li>
        <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
        <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
        <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
      </ul>

      <div class="flex gap-4">
        <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded">
          Apply Now
        </a>
        <p class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded">
          Receive Emails with Similar Jobs
        </p>
      </div>
      <h3 class="text-xl font-semibold">Description</h3>
      <ul class="list-disc ml-4">
        <li>
          Perform quality verifications for electrical drawings and
          calculations.
        </li>
        <li>Provide manhour, schedule, and cost estimates for proposals.</li>
        <li>
          Function as a liaison with clients and design engineers for technical
          support.
        </li>
        <li>Guide and train/mentor Electrical Engineers.</li>
        <li>
          Prepare a variety of complex engineering deliverables and
          calculations.
        </li>
        <li>Review lower-level engineering work or assignments.</li>
        <li>Oversee collection and management of data for engineering work.</li>
        <li>
          Lead smaller production teams and serve as the responsible individual
          for a project.
        </li>
      </ul>
      <h3 class="text-xl font-semibold">Requirements</h3>
      <ul class="list-disc ml-4">
        <li>
          Perform quality verifications for electrical drawings and
          calculations.
        </li>
        <li>Provide manhour, schedule, and cost estimates for proposals.</li>
        <li>
          Function as a liaison with clients and design engineers for technical
          support.
        </li>
        <li>Guide and train/mentor Electrical Engineers.</li>
        <li>
          Prepare a variety of complex engineering deliverables and
          calculations.
        </li>
        <li>Review lower-level engineering work or assignments.</li>
        <li>Oversee collection and management of data for engineering work.</li>
        <li>
          Lead smaller production teams and serve as the responsible individual
          for a project.
        </li>
      </ul>
      <h3 class="text-xl font-semibold">Benefits</h3>
      <ul class="list-disc ml-4">
        <li>Perform quality veifications for electrical.</li>
        <li>Provide manhour, schedule, and cost estimates for proposals.</li>
        <li>Function as a liaison with clients a.</li>
        <li>Guide and train/mentor Electrical Engineers.</li>
        <li>Prepare a variety of complex engineering.</li>
      </ul>

      <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded">
        Apply Now
      </a>
    </div>
  </div>
</section>
{% endblock body_content %}
