{% extends "base.html" %}
<hr />
{% block title_content %}Jobs - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}

<section
  class="bg-[url(https://images.unsplash.com/photo-1617042375876-a13e36732a04?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-96 text-white flex items-center justify-center max-w-[1280px] mx-auto flex-col"
  >
    <h2 class="text-6xl font-semibold text-center mb-6">
      Find Your Dream Dev Job
    </h2>
    <p class="text-3xl mb-4">Search dev jobs at top remote companies</p>
    <div>
      <p>107,610 Jobs</p>
      <input type="text" placeholder="Date Added" />
    </div>
  </div>
</section>

<section class="bg-black text-white my-8">
  <div class="max-w-[1280px] mx-auto px-4">
    <ul class="space-y-8">
      <li
        class="border-2 border-[#333333] hover:bg-[#222] transition duration-300 text-lg group relative rounded space-y-4 p-6 px-8"
      >
        <div
          class="absolute hidden group-hover:block transition duration-300 top-5 right-5"
        >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >View Job</a
          >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >Apply</a
          >
        </div>
        <h3 class="text-xl font-semibold">
          Advanced Supplier Quality Engineer
        </h3>
        <p class="">Afrisol Technologies</p>
        <ul class="flex items-center space-x-4 mb-2">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">website</a>
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">All Job Openings</a>
          </li>
        </ul>
        <p class="text-[#dedede]">
          Supervising Attorney managing complex legal cases remotely for
          Farmers, focusing on client representation.
        </p>
        <ul class="flex items-center space-x-4">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            Nairobi, kenya
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            $ 110k - 150k
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
        </ul>
      </li>

      <li
        class="border-2 border-[#333333] hover:bg-[#222] transition duration-300 text-lg group relative rounded space-y-4 p-6 px-8"
      >
        <div
          class="absolute hidden group-hover:block transition duration-300 top-5 right-5"
        >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >View Job</a
          >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >Apply</a
          >
        </div>
        <h3 class="text-xl font-semibold">
          Advanced Supplier Quality Engineer
        </h3>
        <p class="">Afrisol Technologies</p>
        <ul class="flex items-center space-x-4 mb-2">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">website</a>
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">All Job Openings</a>
          </li>
        </ul>
        <p class="text-[#dedede]">
          Supervising Attorney managing complex legal cases remotely for
          Farmers, focusing on client representation.
        </p>
        <ul class="flex items-center space-x-4">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            Nairobi, kenya
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            $ 110k - 150k
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
        </ul>
      </li>

      <li
        class="border-2 border-[#333333] hover:bg-[#222] transition duration-300 text-lg group relative rounded space-y-4 p-6 px-8"
      >
        <div
          class="absolute hidden group-hover:block transition duration-300 top-5 right-5"
        >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >View Job</a
          >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >Apply</a
          >
        </div>
        <h3 class="text-xl font-semibold">
          Advanced Supplier Quality Engineer
        </h3>
        <p class="">Afrisol Technologies</p>
        <ul class="flex items-center space-x-4 mb-2">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">website</a>
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">All Job Openings</a>
          </li>
        </ul>
        <p class="text-[#dedede]">
          Supervising Attorney managing complex legal cases remotely for
          Farmers, focusing on client representation.
        </p>
        <ul class="flex items-center space-x-4">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            Nairobi, kenya
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            $ 110k - 150k
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
        </ul>
      </li>

      <li
        class="border-2 border-[#333333] hover:bg-[#222] transition duration-300 text-lg group relative rounded space-y-4 p-6 px-8"
      >
        <div
          class="absolute hidden group-hover:block transition duration-300 top-5 right-5"
        >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >View Job</a
          >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >Apply</a
          >
        </div>
        <h3 class="text-xl font-semibold">
          Advanced Supplier Quality Engineer
        </h3>
        <p class="">Afrisol Technologies</p>
        <ul class="flex items-center space-x-4 mb-2">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">website</a>
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">All Job Openings</a>
          </li>
        </ul>
        <p class="text-[#dedede]">
          Supervising Attorney managing complex legal cases remotely for
          Farmers, focusing on client representation.
        </p>
        <ul class="flex items-center space-x-4">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            Nairobi, kenya
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            $ 110k - 150k
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
        </ul>
      </li>

      <li
        class="border-2 border-[#333333] hover:bg-[#222] transition duration-300 text-lg group relative rounded space-y-4 p-6 px-8"
      >
        <div
          class="absolute hidden group-hover:block transition duration-300 top-5 right-5"
        >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >View Job</a
          >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >Apply</a
          >
        </div>
        <h3 class="text-xl font-semibold">
          Advanced Supplier Quality Engineer
        </h3>
        <p class="">Afrisol Technologies</p>
        <ul class="flex items-center space-x-4 mb-2">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">website</a>
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">All Job Openings</a>
          </li>
        </ul>
        <p class="text-[#dedede]">
          Supervising Attorney managing complex legal cases remotely for
          Farmers, focusing on client representation.
        </p>
        <ul class="flex items-center space-x-4">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            Nairobi, kenya
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            $ 110k - 150k
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
        </ul>
      </li>

      <li
        class="border-2 border-[#333333] hover:bg-[#222] transition duration-300 text-lg group relative rounded space-y-4 p-6 px-8"
      >
        <div
          class="absolute hidden group-hover:block transition duration-300 top-5 right-5"
        >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >View Job</a
          >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >Apply</a
          >
        </div>
        <h3 class="text-xl font-semibold">
          Advanced Supplier Quality Engineer
        </h3>
        <p class="">Afrisol Technologies</p>
        <ul class="flex items-center space-x-4 mb-2">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">website</a>
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">All Job Openings</a>
          </li>
        </ul>
        <p class="text-[#dedede]">
          Supervising Attorney managing complex legal cases remotely for
          Farmers, focusing on client representation.
        </p>
        <ul class="flex items-center space-x-4">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            Nairobi, kenya
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            $ 110k - 150k
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
        </ul>
      </li>

      <li
        class="border-2 border-[#333333] hover:bg-[#222] transition duration-300 text-lg group relative rounded space-y-4 p-6 px-8"
      >
        <div
          class="absolute hidden group-hover:block transition duration-300 top-5 right-5"
        >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >View Job</a
          >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >Apply</a
          >
        </div>
        <h3 class="text-xl font-semibold">
          Advanced Supplier Quality Engineer
        </h3>
        <p class="">Afrisol Technologies</p>
        <ul class="flex items-center space-x-4 mb-2">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">website</a>
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">All Job Openings</a>
          </li>
        </ul>
        <p class="text-[#dedede]">
          Supervising Attorney managing complex legal cases remotely for
          Farmers, focusing on client representation.
        </p>
        <ul class="flex items-center space-x-4">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            Nairobi, kenya
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            $ 110k - 150k
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
        </ul>
      </li>

      <li
        class="border-2 border-[#333333] hover:bg-[#222] transition duration-300 text-lg group relative rounded space-y-4 p-6 px-8"
      >
        <div
          class="absolute hidden group-hover:block transition duration-300 top-5 right-5"
        >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >View Job</a
          >
          <a class="p-2 px-4 text-base bg-[#222] hover:bg-[#111] rounded"
            >Apply</a
          >
        </div>
        <h3 class="text-xl font-semibold">
          Advanced Supplier Quality Engineer
        </h3>
        <p class="">Afrisol Technologies</p>
        <ul class="flex items-center space-x-4 mb-2">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">website</a>
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            <a href="#">All Job Openings</a>
          </li>
        </ul>
        <p class="text-[#dedede]">
          Supervising Attorney managing complex legal cases remotely for
          Farmers, focusing on client representation.
        </p>
        <ul class="flex items-center space-x-4">
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            Nairobi, kenya
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">
            $ 110k - 150k
          </li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Full Time</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Junior</li>
          <li class="bg-[#333] p-1 px-2 rounded-sm font-semibold">Mid-level</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
{% endblock body_content %}
