{% extends "base.html" %}
<hr />
{% block meta %}
<title>
  Pricing & Services | Mentorship, Resume Revamp & Software Development | Jarvis
  Wuod
</title>

<meta
  name="description"
  content="Transparent pricing for professional web development mentorship, resume/LinkedIn optimization, and custom software development services. Flexible payment options and packages tailored to your needs."
/>

<meta
  name="keywords"
  content="web development pricing, coding mentorship cost, resume revamp services, LinkedIn optimization, custom software development rates, affordable programming mentor, web development coaching fees, career services pricing, tech portfolio development cost, software project pricing, developer mentorship program, coding education investment, web development training cost, career transition assistance, professional resume services"
/>

<!-- Open Graph Tags -->
<meta
  property="og:title"
  content="Pricing & Services | Mentorship, Resume Revamp & Software Development | Jarvis Wuod"
/>
<meta
  property="og:description"
  content="Transparent pricing for professional web development mentorship, resume/LinkedIn optimization, and custom software development services. Flexible payment options and packages tailored to your needs."
/>

<!-- Twitter/X Tags -->
<meta
  name="twitter:title"
  content="Pricing & Services | Mentorship, Resume Revamp & Software Development | Jarvis Wuod"
/>
<meta
  name="twitter:description"
  content="Transparent pricing for professional web development mentorship, resume/LinkedIn optimization, and custom software development services. Flexible payment options and packages tailored to your needs."
/>

{% endblock meta %}
<hr />

{% block body %}
<section
  class="hero-section bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <div class="text-center">
      <h1
        class="text-4xl sm:text-5xl lg:text-6xl font-bold mb-4 sm:mb-6 lg:mb-8"
        aria-label="Mentorship program"
      >
        Pay Smart.
      </h1>
      <meta
        name="description"
        content="Learn about my mentorship program designed to help you grow professionally."
      />
    </div>
  </div>
</section>

<section
  class="about-me py-4 sm:py-12 lg:py-16 px-8 sm:mb-8"
  id="about-me"
  aria-labelledby="pricing-heading"
>
  <div class="max-w-[1280px] mx-auto">
    <h2
      id="price-heading"
      class="text-xl sm:text-2xl md:text-3xl lg:text-4xl mb-4 lg:mb-6 text-[#fefefe] text-center font-semibold"
    >
      From zero to Senior.
    </h2>
    <p
      class="text-lg sm:text-xl md:text-2xl lg:text-3xl mb-12 sm:mb-16 md:mb-20 lg:mb-24 text-[#fefefe] text-center"
    >
      Designed for every stage of your journey. Start today, no credit card
      required.
    </p>
    {% comment %}
    <button
      class="pricing-btn bg-red-200 place-self-center text-lg sm:text-xl md:text-2xl lg:text-3xl mb-4 lg:mb-6 text-[#fefefe] text-center"
    >
      <span>Monthly</span>
      <input class="toggle-checkbox" type="checkbox" />
      <span>Annual</span>
    </button>

    <ul
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 text-base md:text-lg mb-1 lg:mb-2"
    >
      <li class="border border-[#dedede63] p-4 py-8 flex flex-col gap-2">
        <p class="text-base sm:text-lg md:text-xl lg:text-2xl mb-2 lg:mb-4">
          Free
        </p>
        <p>
          <span
            class="font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl mb-4 lg:mb-6"
          >
            $ 0
          </span>
          <span class="text-[#989898]"> / month</span>
        </p>
        <span
          class="text-xs text-[#989898] sm:text-base font-semibold mb-2 lg:mb-4"
        >
          Billed annually
        </span>
        <button
          class="border border-amber-400 mt-8 px-4 p-2 text-base font-bold"
        >
          Start for free
        </button>
        <p class="text-[#989898] font-bold mt-4">For Beginners</p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          1-on-1 coaching
        </p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Personalized learning
        </p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Hands-on project guidance
        </p>
        <p class="text-[#cbcbcb]" class="mb-8">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Code reviews & feedback
        </p>
      </li>

      <li class="border border-[#dedede63] p-4 py-8 flex flex-col gap-2">
        <p class="text-base sm:text-lg md:text-xl lg:text-2xl mb-2 lg:mb-4">
          Pro
        </p>
        <p>
          <span
            class="font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl mb-4 lg:mb-6"
          >
            $ 29
          </span>
          <span class="text-[#989898]"> / month</span>
        </p>
        <span
          class="text-xs text-[#989898] sm:text-base font-semibold mb-2 lg:mb-4"
        >
          Billed annually
        </span>
        <button
          class="border border-amber-400 mt-8 px-4 p-2 text-base font-bold"
        >
          Continue with Plus
        </button>
        <p class="text-[#989898] font-bold mt-4">For Professionals</p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          1-on-1 coaching
        </p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Personalized learning
        </p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Hands-on project guidance
        </p>
        <p class="text-[#cbcbcb]" class="mb-8">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Code reviews & feedback
        </p>
      </li>

      <li class="border border-[#dedede63] p-4 py-8 flex flex-col gap-2">
        <p class="text-base sm:text-lg md:text-xl lg:text-2xl mb-2 lg:mb-4">
          Business
        </p>
        <p>
          <span
            class="font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl mb-4 lg:mb-6"
          >
            $ 59
          </span>
          <span class="text-[#989898]"> / month</span>
        </p>
        <span
          class="text-xs text-[#989898] sm:text-base font-semibold mb-2 lg:mb-4"
        >
          Billed annually
        </span>
        <button
          class="border border-amber-400 mt-8 px-4 p-2 text-base font-bold bg-amber-400 text-black"
        >
          Continue with Pro
        </button>
        <p class="text-[#989898] font-bold mt-4">For Teams</p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          1-on-1 coaching
        </p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Personalized learning
        </p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Hands-on project guidance
        </p>
        <p class="text-[#cbcbcb]" class="mb-8">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Code reviews & feedback
        </p>
      </li>

      <li class="border border-[#dedede63] p-4 py-8 flex flex-col gap-2">
        <p class="text-base sm:text-lg md:text-xl lg:text-2xl mb-2 lg:mb-4">
          Enterprise
        </p>
        <p>
          <span
            class="font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl mb-4 lg:mb-6"
          >
            $ 119
          </span>
          <span class="text-[#989898]"> / month</span>
        </p>
        <span
          class="text-xs text-[#989898] sm:text-base font-semibold mb-2 lg:mb-4"
        >
          Billed annually
        </span>
        <button
          class="border border-amber-400 mt-8 px-4 p-2 text-base font-bold"
        >
          Continue with Max
        </button>
        <p class="text-[#989898] font-bold mt-4">For Corporates</p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          1-on-1 coaching
        </p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Personalized learning
        </p>
        <p class="text-[#cbcbcb]">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Hands-on project guidance
        </p>
        <p class="text-[#cbcbcb]" class="mb-8">
          <span
            class="bg-[#5a5543a6] text-[#dedede] rounded-sm text-sm p-1 mr-1"
          >
            ✓
          </span>
          Code reviews & feedback
        </p>
      </li>
    </ul>
    {% endcomment %}
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 text-base md:text-lg mb-1 lg:mb-2"
      role="list"
      id="mentorship-pricing-grid"
    ></ul>
  </div>
</section>

{% endblock body %}
