{% extends "base.html" %}
<hr />
{% block meta %}
<title>Tech Resume Review | Get Noticed by Recruiters | Jarvis Wuod</title>

<meta
  name="description"
  content="Land more tech interviews with my professional resume review service. I'll optimize your CV, highlight your skills, and help you stand out to recruiters. 10+ successful placements. Book your review today."
/>

<meta
  name="keywords"
  content="tech resume review, developer CV optimization, software engineer resume help, IT job application tips, tech career coaching, linkedin revamp, LinkedIn profile improvement, programming resume template, coding resume examples, tech job interview preparation, resume writing service, ATS-friendly resume, developer portfolio review, tech job application success rate, resume feedback for developers, software engineering career advice, tech job search help, resume screening tips, technical resume keywords, developer resume mistakes, web developer CV template, professional resume critique, tech job application strategy, resume optimization service, tech career advancement, career guidance"
/>

<!-- Open Grapg Tags -->
<meta
  property="og:title"
  content="Tech Resume Review | Get Noticed by Recruiters | Jarvis Wuod"
/>
<meta
  property="og:description"
  content="Land more tech interviews with my professional resume review service. I'll optimize your CV, highlight your skills, and help you stand out to recruiters. 10+ successful placements. Book your review today."
/>

<!-- Twitter/ X  Tags -->
<meta
  name="twitter:title"
  content="Tech Resume Review | Get Noticed by Recruiters | Jarvis Wuod"
/>
<meta
  name="twitter:description"
  content="Land more tech interviews with my professional resume review service. I'll optimize your CV, highlight your skills, and help you stand out to recruiters. 10+ successful placements. Book your review today."
/>

{% endblock meta %}
<hr />

{% block body %}

<section
  class="hero-section bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <div class="text-center">
      <h1
        class="text-4xl sm:text-5xl lg:text-6xl font-bold mb-4 sm:mb-6 lg:mb-8"
        aria-label="Resume Review"
      >
        Resume Review.
      </h1>
      <meta
        name="description"
        content="Learn about my resume review designed to help you land that next interview."
      />
    </div>
  </div>
</section>

{% endblock body %}
