{% extends "base.html" %}
<hr />
{% block title %}Custom Software Solution | {% endblock title %}
<hr />

{% block body_content %}

<section
  class="bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <h2
      class="text-4xl sm:text-5xl lg:text-6xl font-bold text-center mb-4 sm:mb-6 lg:mb-8"
    >
      Software solution.
    </h2>
  </div>
  {% comment %} {% block title_content %} Custom Software solution - Just the
  right software you need for your business to grow by Jarvis Wuod {% endblock
  title_content %} {% endcomment %}
</section>

{% endblock body_content %}
