{% extends "base.html" %}
<hr />
{% block title_content %}About Us - Jarvis Wuod {% endblock title_content %}
<hr />

{% block body_content %}

<section
  class="bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <h1 class="text-7xl mb-4 font-bold text-center mb-8">Web development.</h1>
  </div>
</section>

<section class="hidden my-24">
  <div
    class="max-w-[1280px] mx-auto items-center justify-center p-4 grid grid-cols-2 gap-18"
  >
    <div>
      <img
        src="https://images.pexels.com/photos/1157803/pexels-photo-1157803.jpeg"
        alt="Random ghurl pic"
      />
    </div>
    <div>
      <h2 class="text-6xl mb-4 font-medium">Random Facts.</h2>
      <p class="text-xl/8 text-[#dedede] mb-8">
        I have a passion for coffee, I have a cat named after MacGyver, my
        favorite number is 22, love a good Old Fashion, I play video games like
        it's my life, I knew what I wanted to do at the age of 13, my favorite
        food is bacon, and I broke my left arm twice.
      </p>
    </div>
    <div class="max-w-6xl mx-auto col-span-2 text-3xl">
      <h3 class="text-left text-base font-bold uppercase text-amber-700 mb-4">
        me in a nut-shell
      </h3>
      <p class="text-5xl/14 font-medium mb-18 text-left">
        I’m a husband, father, cat person, coffee enthusiast, gamer, whiskey
        drinker, and Squarespace developer.
      </p>
    </div>
  </div>

  <div class="max-w-[1280px] mx-auto grid grid-cols-[1fr_3fr] gap-8">
    <h2 class="text-5xl text-[#fefefe] font-medium mb-6">Back Story.</h2>
    <div class="text-xl/8 text-[#dedede] space-y-6">
      <p>
        Yes, as I stated in my random facts and in the video above, I knew what
        I wanted to do by the age of 13. The short version is that I loved
        playing video games growing up and always had an interest in knowing how
        they were made. So, a small idea turned into me wanting to make my own
        video game.
      </p>
      <p>
        And after a few friends helped to fill up notebooks with thoughts,
        ideas, and drawings we quickly realized that we needed a website.
        Obviously, this was before the internet was filled with this type of
        knowledge readily available at your fingertips (YouTube, Facebook, and
        even MySpace weren't a thing yet). So, I was able to teach myself the
        basics and build something.
      </p>
      <p>
        Fast-forwarding, after graduating college with an associate's degree in
        digital arts, I made my way into multiple jobs. First starting out as a
        designer in the print industry for a small publication company. This was
        the start of many core understandings and played a key role in my
        thought process when thinking about design as a whole, especially when
        it comes to typography. After that, working my way into the development
        industry was a path that I created for myself based on one question that
        I still find myself asking, how does it work? This was the one question
        that started the passion I call my career.
      </p>
      <p>
        After years in the industry, and having gone through multiple
        opportunities, some good, and some bad, I finally left my full-time job
        to venture on my own. It was March of 2016 which was my first day
        working for myself as a Squarespace developer. So, here I am years later
        still doing the same damn thing, and still loving it.
      </p>
      <p>
        Now, as of 2022, I’ve been finding myself venturing down new paths and
        pushing some new focus areas such as helping people build personal
        brands. Ever since I created my own personal brand back in 2016, I
        realized that I’ve learned a lot and can help teach people what I’ve
        learned over the years about what worked and what didn’t for me. And if
        you want to know more about why I started a personal brand, you can read
        the full story.
      </p>
    </div>

    <ul
      class="max-w-[1280px] overflow-x-scroll col-span-2 whitespace-nowrap place-self-center my-18 space-x-12 align-middle cursor-grab"
    >
      <li class="w-md inline-block align-middle">
        <div class="max-h-136 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1741627872533-52df24885303"
            alt="Dream things"
          />
        </div>
        <p class="text-center mt-4 text-lg text-[#dedede]">Dream Car</p>
      </li>
      <li class="w-md inline-block align-middle">
        <div class="max-h-136 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1741722604183-7d94a0403152"
            alt="Dream things"
          />
        </div>
        <p class="text-center mt-4 text-lg text-[#dedede]">Dream House</p>
      </li>
      <li class="w-md inline-block align-middle">
        <div class="max-h-136 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1741627872533-52df24885303"
            alt="Dream things"
          />
        </div>
        <p class="text-center mt-4 text-lg text-[#dedede]">Dream Setup</p>
      </li>
      <li class="w-md inline-block align-middle">
        <div class="max-h-136 overflow-hidden">
          <img
            src="https://images.unsplash.com/photo-1741722604183-7d94a0403152"
            alt="Dream things"
          />
        </div>
        <p class="text-center mt-4 text-lg text-[#dedede]">Dream Thing</p>
      </li>
    </ul>

    <div class="max-w-6xl mx-auto col-span-2 text-3xl">
      <h3 class="text-left text-base font-bold uppercase text-amber-700 mb-4">
        my mission
      </h3>
      <p class="text-5xl/14 font-medium mb-18 text-left">
        I’m a husband, father, cat person, coffee enthusiast, gamer, whiskey
        drinker, and Squarespace developer.
      </p>
    </div>

    <div class="max-w-6xl mx-auto col-span-2 text-3xl">
      <h3 class="text-left text-base font-bold uppercase text-amber-700 mb-4">
        my vision
      </h3>
      <p class="text-5xl/14 font-medium mb-18 text-left">
        I’m a husband, father, cat person, coffee enthusiast, gamer, whiskey
        drinker, and Squarespace developer.
      </p>
    </div>
  </div>
</section>

<section class="hidden mb-24">
  <div class="max-w-6xl mx-auto text-lg/9">
    <h3 class="text-2xl font-semibold mb-4">Career</h3>
    <ul class="grid grid-cols-3 gap-8">
      <li class="col-span-3">
        <h4 class="font-medium mb-2">Afrisol Technologies</h4>
        <h5>Fullstack developer</h5>
        <p>Sept 2024 - Now</p>
      </li>

      <li>
        <h4 class="font-medium mb-2">Webflow</h4>
        <h5>Engineering Manager</h5>
        <p>Oct 2020 - Jul 2021</p>
      </li>
      <li>
        <h4 class="font-medium mb-2">Kinnek</h4>
        <h5>Senior Frontend Engineer</h5>
        <p>Nov 2015 - May 2017</p>
      </li>

      <li>
        <h4 class="font-medium mb-2">OkCupid</h4>
        <h5>Frontend Engineer</h5>
        <p>Jan 2014 - Nov 2015</p>
      </li>

      <li>
        <h4 class="font-medium mb-2">Jan Briddhi Foundation</h4>
        <h5>Fullstack developer</h5>
        <p>Oct 2023 - Sept 2024</p>
      </li>

      <li>
        <h4 class="font-medium mb-2">Bambanet Ltd</h4>
        <h5>Software developer Intern</h5>
        <p>Apr 2022 - Aug 2022</p>
      </li>
    </ul>
  </div>
</section>
{% endblock body_content %}
