<form
  method="POST"
  action=""
  class="my-20 max-w-3xl mx-auto bg-white text-black relative"
>
  {% csrf_token %}

  <input type="hidden" name="form_type" value="mentorship" />

  <div class="form--contact p-8 mentorship-form">
    <button class="absolute cursor-pointer top-8 right-12 text-xl close-btn">
      <i class="ph ph-x"></i>
    </button>
    <h3
      class="uppercase text-sm border-l-2 pl-2 border-black font-semibold mb-4 mt-8"
    >
      Contact Details
    </h3>
    <label class="block mb-4">
      <p class="text-sm col-span-2 mb-2">
        Full Name
        <span class="mb-2 text-xs text-[#444]"> (required)</span>
      </p>
      <input
        type="text"
        name="full_name"
        placeholder="e.g. Jane Doe"
        required
        class="w-full p-2 border border-gray-300 rounded mb-2"
      />
    </label>

    <label class="block mb-4">
      <p class="text-sm col-span-2 mb-2">
        Email Address
        <span class="mb-2 text-xs text-[#444]"> (required)</span>
      </p>
      <input
        type="email"
        name="email_address"
        placeholder="e.g. jane.doe@example.com"
        required
        class="w-full p-2 border border-gray-300 rounded mb-2"
      />
    </label>

    <label class="block mb-4">
      <p class="text-sm col-span-2">Phone Number</p>
      <p class="mb-2 text-xs text-[#444] inline-block">
        Not required but sometimes it's easier to just connect directly
      </p>
      <input
        type="tel"
        name="phone_number"
        placeholder="e.g. +1234567890"
        class="w-full p-2 border border-gray-300 rounded mb-2"
      />
    </label>

    <h3
      class="uppercase text-sm border-l-2 pl-2 border-black font-semibold mb-4 mt-8"
    >
      Dev Journey Details
    </h3>

    <label class="block mb-4">
      <p class="text-sm col-span-2 mb-2">
        When did you begin coding
        <span class="mb-2 text-xs text-[#444]"> (required)</span>
      </p>
      <input
        type="text"
        name="start_coding"
        required
        placeholder="e.g. January 2023"
        class="w-full p-2 border border-gray-300 rounded mb-2"
      />
    </label>

    <label class="block mb-4">
      <p class="text-sm col-span-2 mb-2">
        What goal do you aim to achieve?
        <span class="mb-2 text-xs text-[#444]"> (required)</span>
      </p>
      <input
        type="text"
        name="goal"
        required
        placeholder="e.g. Land a remote junior developer job"
        class="w-full p-2 border border-gray-300 rounded mb-2"
      />
    </label>

    <label class="block mb-4">
      <p class="text-sm col-span-2 mb-2">
        What is holding you back the most from hitting your goal in tech
        <span class="mb-2 text-xs text-[#444]"> (required)</span>
      </p>
      <input
        type="text"
        name="obstacle"
        required
        placeholder="e.g. Lack of structure, guidance or confidence"
        class="w-full p-2 border border-gray-300 rounded mb-2"
      />
    </label>

    <label class="block mb-4">
      <p class="text-sm col-span-2">
        Details About your Progress and Challenges
        <span class="mb-2 text-xs text-[#444]"> (required)</span>
      </p>
      <p class="mb-2 text-xs text-[#444] inline-block">
        Please provide as much detail about the skills learnt, progress made and
        challenges faced
      </p>
      <textarea
        name="progress_details"
        rows="4"
        required
        placeholder="e.g. Completed HTML/CSS, started learning JavaScript. Struggle with consistency and project planning..."
        class="w-full p-2 border border-gray-300 rounded mb-4"
      ></textarea>
    </label>

    <button
      type="submit"
      class="uppercase font-semibold text-sm text-black hover:text-white hover:bg-amber-700 w-full py-4 rounded border border-amber-700 transform transition-all duration-300"
    >
      Get mentorship
    </button>
  </div>
</form>
