{% extends "base.html" %}
<hr />
{% block meta %}
<title>Pricing | Jarvis Wuod</title>

<meta
  name="description"
  content="Transparent pricing for professional web development mentorship. Flexible payment options and packages tailored to your needs."
/>

<meta
  name="keywords"
  content="web development pricing, coding mentorship cost, resume revamp services, LinkedIn optimization, custom software development rates, affordable programming mentor, web development coaching fees, career services pricing, tech portfolio development cost, software project pricing, developer mentorship program, coding education investment, web development training cost, career transition assistance, professional resume services"
/>

<!-- Open Graph Tags -->
<meta property="og:title" content="Pricing | Jarvis Wuod" />
<meta
  property="og:description"
  content="Transparent pricing for professional web development mentorship. Flexible payment options and packages tailored to your needs."
/>

<!-- Twitter/X Tags -->
<meta name="twitter:title" content="Pricing | Jarvis Wuod" />
<meta
  name="twitter:description"
  content="Transparent pricing for professional web development mentorship. Flexible payment options and packages tailored to your needs."
/>

{% endblock meta %}
<hr />

{% block body %}
<section
  class="hero-section bg-[url(https://images.unsplash.com/photo-1742217279960-977bb5d13f75?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)]"
>
  <div
    class="min-h-lvh text-white flex items-center justify-center max-w-[1280px] mx-auto"
  >
    <div class="text-center">
      <h1
        class="text-4xl sm:text-5xl lg:text-6xl font-bold mb-4 sm:mb-6 lg:mb-8"
        aria-label="Mentorship program"
      >
        Pay Smart.
      </h1>
      <meta
        name="description"
        content="Learn about my mentorship program designed to help you grow professionally."
      />
    </div>
  </div>
</section>

<section
  class="pricing-heading py-4 sm:py-12 lg:py-16 px-8 sm:mb-8"
  id="pricing-heading"
  aria-labelledby="pricing-heading"
>
  <div class="max-w-[1280px] mx-auto">
    <h2
      id="price-heading"
      class="text-xl sm:text-2xl md:text-3xl lg:text-4xl mb-4 lg:mb-6 text-[#fefefe] text-center font-semibold"
    >
      From zero to Senior.
    </h2>
    <p
      class="text-lg sm:text-xl md:text-2xl lg:text-3xl mb-12 sm:mb-16 md:mb-20 lg:mb-24 text-[#fefefe] text-center"
    >
      Designed for every stage of your journey. Start today, no credit card
      require
    </p>

    <ul
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 text-base md:text-lg mb-1 lg:mb-2"
      role="list"
      id="mentorship-pricing-grid"
    ></ul>
  </div>
</section>

{% endblock body %}
